*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 100%;
}

h2{
  margin-top: 30px;
}

.debug{
  border: 1px solid rgba(255, 255, 255, 0.136);
}

.container{
  padding: 0 15px;
}

.pr-flex{
  display: flex;
}

.pr-wrap{
  flex-wrap: wrap;
}

.no-point{
  list-style: none;
}

.alg-center{
  align-items: center;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-40{
  margin-top: 40px;
}

.main-wrapper{
  height: 100vh;
}

.gray-bold{
  color: #7a7d81;
  font-weight: 600;
  font-size: 10px;
}
.gray-bold-normal{
  color: #7a7d81;
  font-weight: 400;
}

.circle{
  border-radius: 50%;
  overflow: hidden;
}

main{
  display: flex;
  height: calc(100% - 80px);
}

.cta{
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 230px);
  height: 80px;
  justify-content: end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}


.content{
  width: 100%;
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
  color: white;
  padding-top: 80px;
}

.player-footer{
  height: 80px;
  background-color: gray;
}

/* bottone cta */

.cta button{
  padding: 10px 40px;
  margin-right: 20px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  z-index: 1;
}

/* Barra Orizzontale */

.genre-menu{
  margin-top: 15px;
  font-size: 10px;
  font-weight: 800;
  color: #7d7f84;
}

.content .genre-menu ul{
  justify-content: center;
}

.content .genre-menu ul li{
  padding: 0 10px;
}

.content .genre-menu li:hover{
  color: white;
  cursor: pointer;
}

.content .genre-menu .line-green{
  height: 2px;
  background-color: #adff2f;
  margin: 2px auto;
  width: 30px;
  border-radius: 50px;
 
}

/* box canzoni */


.button-play{
  position: relative;
}

.square{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: calc(100%/6);
  padding: 25px 20px 10px 0;
  font-size: 1vw;
}


section .overlay{
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 98.2%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.559);
}

section:hover .overlay{
  display: flex; 
  
}

section .overlay i{
  font-size: 2.5rem;
}

/*aside*/ 

aside{
  height: 100%;
  width: 230px;
  padding: 15px 0 0 25px;
  flex-shrink: 0;
  background-color: black;
  color: #7a7d81;
  font-weight: 400;
}

aside{
  flex-direction: column;
}

aside .overflow{
  height: 45vh;
  overflow-y: auto;
}

aside .footer-container{
  background-color: black;
}

#logo-spotify{
  width: 140px;
  padding-bottom: 10px;
}

aside ul li{
  padding-top: 7px;
}

aside ul li a{
  align-items: center;
  text-decoration: none;
  color: #7a7d81;
  font-weight: 400;
}

.big-aside ul li img{
  width: 25px;
  color: #7a7d81;
}

aside h3{
  margin: 15px 0 10px 0;
  color: white;
}

aside .fa-square-plus{
  font-size: 40px;
  padding-right: 10px;
}

aside .overflow ul{
  line-height: 25px;
}

aside hr{
  width: 180px;
}

aside .footer-container{
  line-height: 35px;
}

aside .footer-container i{
  padding-right: 10px;
}

aside .footer-container span:last-child {
  color: white;
}

aside ul li :hover,
aside .overflow li:hover ,
aside .alg-center:hover{
  color: white;
}

/*tiny aside  */

.tiny-aside{
  display: none;
}


/* player bar */

.container-player{
  width: 400px;
}

.player-footer{
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #282828;
  color: white;
}

/* footer left */

.player-footer img{
  width: 45px;
}

.player-footer .footer-left{
  align-items: center;
}

.player-footer .footer-left div{
  padding: 0 40px 0 10px;
}

.footer-left:first-child i{
  padding-left: 10px;
}

/* footer center */

.player-footer .footer-center-down{
 align-items: center;
}

.player-footer .buttons{
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.player-footer .buttons i{
  padding: 0 10px;
  font-size: 20px;
}

.player-footer .buttons .fa-circle-play{
  font-size: 30px;
}

.player-footer .time-line-song{
  position: relative;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: #5a5a5a;
  margin: 0 10px;
}

 .time-line-song-two{
  position: absolute;
  left: 0;
  width: 40%;
  height: 3px;
  border-radius: 20px;
  background-color: #ffffff;
  align-items: center;
  justify-content: flex-end;
}

.time-line-song-two i{
  display: none;
}

.time-line-song-two:hover i{
display: block;
}

/* footer right */


.footer-right{
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.footer-right>i{
  padding: 0 5px;
  font-size: 15px;
}

/* media-query */

@media screen and (max-width: 991px){
  .square{
    width: calc(100% / 4);
  }
}


@media screen and (max-width: 768px){
  .square{
    width: calc(100%/2);
  }
  .like{
    flex-direction: column;
  }
}

@media screen and (max-width: 576px){
  .tiny-aside{
    display: flex;
    width: 70px;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .big-aside{
    display: none;
  }

  .tiny-aside ul{
    flex-direction: column;
   align-items: center;
  }

  .tiny-aside ul li img{
    width: 30px;
  }

  .tiny-aside .dowload-id-bottom{
    flex-direction: column;
    align-items: center;
  }

  .tiny-aside .dowload-id-bottom i{
    padding-top: 10px;
    font-size: 25px;
  }

  .player-footer .footer-left div {
    padding:0 10px;
  }

  .player-footer .footer-left div i{
    padding:0;
  }


  .cta{
  width: calc(100% - 70px);

  }
}



  









